{% extends "core/base.html" %}
{% load static %}
{% block content %}
<form method="POST">
    {% csrf_token %}
	<div class="form-group form-inline ">

<!-- 	<div class="col-md-3 form-inline ">
		
		<label class="form-check-label" for="autoSizingCheck"> Paciente</label>
	</div>
			 -->
	<div class="col-md-3 form-inline ">
                    {{form.paciente_ergo}}
			      <div class="form-check mr-sm-4">
			        {{form.ciclo_ergo}}
			        <label class="form-check-label" for="autoSizingCheck"> CICLO ÉRGONOMETRO(Kgm)</label>
			      </div>
			  </div>
	
	     <div class="col-md-3 form-inline">
	     	 <label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">Carga</label>
	     	  {{form.carga}}
	     </div>
	<div class="col-md-3 form-inline">
	
		        <label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">ST</label>
		        {{form.st}}
	</div>
	        <div class="col-md-3 form-inline"> 
	        	<label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">ST(mm)</label>
	        		        {{form.st_mm}}
	        		     	</div>
	     	
	  
	</div> 

	<div class="form-group form-inline ">
			
	<div class="col-md-3 form-inline ">
			      <div class="form-check mr-sm-4">
			        {{form.banda_ergo}}
			        <label class="form-check-label" for="autoSizingCheck"> BANDA DESLIZANTE(%Grad/Km/h)</label>
			      </div>
			  </div>
	
	     <div class="col-md-3 form-inline">
	     	 <label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">METS</label>
	     	  {{form.mets}}
	     </div>
	<div class="col-md-3 form-inline">
	
		        <label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">TAS BASAL</label>
		        {{form.tas_basal}}
	</div>
	        <div class="col-md-3 form-inline"> 
	        	<label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">TAS ESFUERZO</label>
	        		        {{form.tas_esfuerzo}}
	        		     	</div>
	     	
	  
	</div> 




	<div class="form-group form-inline ">
			
	
	    
	  <div class="col-md-3 form-inline ml-auto">
	  		
	  				      <label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">TAD BASAL</label>
	  				        {{form.tad_basal}}
	  			</div>
		<div class="col-md-3 form-inline">
						        <label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">TAD ESFUERZO</label>
						        {{form.tad_esfuerzo}}
						     	
				     	</div>
	  
	</div>
<!-- --------------- -->

	<div class="form-group form-inline ">
			
	<div class="col-md-3 form-inline ">
			        <label class=" mr-4" for="inlineFormCustomSelectPref">FC BASAL</label>
					{{form.fc_basal}}


			  </div>
	
	     <div class="col-md-3 form-inline ">
			        <label class=" mr-4" for="inlineFormCustomSelectPref">FC ESFUERZO</label>
					{{form.fc_esfuerzo}}
  </select></div>
	<div class="col-md-3 form-inline ">
			        <label class=" mr-4" for="inlineFormCustomSelectPref">TA PLANA</label>
 					{{form.ta_plana}}
					 </div>
	        <div class="col-md-3 form-inline"> 
	        	<label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">FCM-EDAD:</label>
	        	{{form.fcm_edad}}
	        		     	</div>
	     	
	  
	</div> 




	<div class="form-group form-inline ">
			
	<div class="col-md-3 form-inline ">
			        <label class=" mr-4" for="inlineFormCustomSelectPref">MOTIVO DE<br>SUSPENCIÓN</label>
					{{form.motivo_suspencion}}


			  </div>
	<div class="col-md-3 form-inline ">
			        <label class=" mr-4" for="inlineFormCustomSelectPref">SINTOMAS</label>
  					{{form.sintomas}}
					  </div>
	        <div class="col-md-3 form-inline ml-auto"> 
	        	<label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">%FCPM:</label>
	        		        {{form.percent_fcmp}}
	        		     	</div>
	     	
	  
	</div> 





	<div class="form-group form-inline ">
			
	<div class="col-md-3 form-inline ">
			        <label class=" mr-4" for="inlineFormCustomSelectPref">ARRITMIA SV</label>
					{{form.arritmia_sv}}


			  </div>
	
	     	<div class="col-md-3 form-inline ">
			        <label class=" mr-4" for="inlineFormCustomSelectPref">ARRITMIA V</label>
					{{form.arritmia_v}}
					</div>

	        <div class="col-md-3 form-inline ml-auto"> 
	        	<label class="control-label ml-sm-2 mr-sm-2" for="inlineFormInput">ITT:</label>
	        	{{form.itt}}
	        		     	</div>

	</div> 

				 <div class="col-md-3 form-inline mr-auto"> 
					<button type="submit" class="btn btn-success" > Guardar</button>
	     	
	  				</div>

</form>
 <style>
 	
 	label{
 		color: white;
 	}
 </style>
{% endblock content %}