{% extends "core/base.html" %}
{% load static %}
{% block content %}
        <table class="table table-dark table-hover table-striped mb-0 " border="1" >
    <thead style="background-color: purple;">
      <tr>
          
          <th>Paciente</th>
          <th>motivo suspencion</th>
          <th>tad esfuerzo</th>
          <th>mets</th>
          <th>Editar</th>
          <th>Borrar</th>

      </tr>
    </thead>
  <h1><center>ERGOMETRIAS</center></h1>  

    <form class="form-inline"  method="GET">
  {% csrf_token %}
    <input type="text" class="verde" placeholder="Buscar paciente.." name="q" style="" >
      <button type="submit" class="azul"><i class="fa fa-search"></i></button>
  </form>
  <tbody>
  {% for pac in eventos  %}
 <tr>
        
          <td>{{pac.paciente_ergo}}</td>
          <td>{{pac.motivo_suspencion}}</td>
          <td>{{pac.tad_esfuerzo}}</td>
          <td>{{pac.mets}}</td>
         <td><a class="btn btn-info" href="{% url 'editaergo' pac.id_ergo %}" >Editar</a></td>
         <td><a   class='btn btn-danger eliminar' href="{% url 'borraergo' pac.id_ergo %}" >Borrar</a></td>
		
   </tr>
  
  {% endfor %}
     </tbody>
     </table>
{% endblock content %}