{% extends "core/base.html" %}  
{% load static %}
{% block content %}
 <table class="table table-dark table-hover table-striped mb-0 " border="1" >
    <thead style="background-color: purple;">
      <tr>
          
          <th>Paciente</th>
          <th>ssr</th>
          <th>sss</th>
          <th>ssd</th>
          <th>Editar</th>
          <th>Borrar</th>

      </tr>
    </thead>
  <h1><center>MUESTRA MPI</center></h1>  

    <form class="form-inline"  method="GET">
  {% csrf_token %}
    <input type="text" class="verde" placeholder="Buscar paciente.." name="q" style="" >
      <button type="submit" class="azul"><i class="fa fa-search"></i></button>
  </form>
  <tbody>
  {% for pac in eventos  %}
 <tr>
        
          <td>{{pac.paciente_mpi}}</td>
          <td>{{pac.ssr}}</td>
          <td>{{pac.sss}}</td>
          <td>{{pac.ssd}}</td>
         <td><a class="btn btn-info" href="{% url 'editampi' pac.id_mpi %}" >Editar</a></td>
         <td><a   class='btn btn-danger eliminar' href="{% url 'borrampi' pac.id_mpi %}" >Borrar</a></td>
		
   </tr>
  
  {% endfor %}
     </tbody>
     </table>
{% endblock content %}