<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
<style>
	

	.rosadoOscuro{
-webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
      filter: grayscale(100%) brightness(20%) sepia(100%) hue-rotate(-100deg) saturate(1000%) contrast(0.8);


}
.centrar{
  margin-left: auto;
  margin-right: auto;
}


</style>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">


</head>
<body style="font-family: 'Oswald',sans-serif;background:url('Sintitulo.png')"  >
  

<div class="row p-4">
  <img src="oie_transparent.png" alt="" style="width: 200px">
   <img src="LOGO IMAC COLOR.jpg" alt=""  style="width: 300px; height: 80px;" class="ml-auto">
</div>

<div class=" mt-md-2" style=" text-align: center;"> 
  <h2><span>Cardiología Nuclear</span></h2>
  <h3>Perfusion Miocardica bajo Apremio con Ejercicio</h3>
  <h3>Tomografia Computada por Emision de Foton Simple</h3>
</div>


<!----------------------------------------------------------------------------------->
<div class=" centrar container col-md-11 mb-md-2 ml-md-5">
  <div class="row ml-md-5 mt-md-5 mr-md-2">
    <div class="row col-md-4 mt-md-2 ml-md-3 ">
        <label class=" control-label col-md-8">Estudio N°:  L230420191 </label>
       
    </div>	
    <div class="row col-md-3 mt-md-2 ml-md-2 " >
        <label class=" control-label col-md-8">Fecha: 23/04/2019</label>
        
    </div>	
    <div class="row col-md-5 mt-md-2 " >
        <label class=" control-label col-md-6">DNI: 29396292</label>
        
    </div>								
</div>
</div>
<!----------------------------------------------------------------------------------->
<div class=" container col-md-11 ml-md-5">
  <div class="row ml-md-5 mr-md-2">
    <div class="row col-md-4 mt-md-2 ml-md-3 ">
        <label class=" control-label mr-md-5 ml-md-3">Apellido y Nombre: Prueba Matorra </label>
        
    </div>	
    <div class="row col-md-3 mt-md-2 ml-md-2 " >
        <label class=" control-label mr-md-5 col-md-8">Edad: 37</label>
        
    </div>	
    <div class="row col-md-5 mt-md-2 " >
      <label class=" control-label col-md-9">Sexo: Masculino</label>
      
  </div>								
</div>
</div>
<!----------------------------------------------------------------------------------->
<div class=" container col-md-11 mb-md-2 ml-md-5">
  <div class="row ml-md-5 mb-md-4 mr-md-2">
    <div class="row col-md-4 ml-md-2 mt-md-2  ">
        <label class=" control-label ml-md-4 mr-md-5 ">Cobertura Médica: OSPRERA </label>
      
    </div>	
    <div class="row col-md-3 mt-md-2 ml-md-2 " >
      <label class=" control-label mr-md-5 ml-md-2 col-md-6">Referido por: Fede</label>
      
  </div>										
</div>
</div>
<!----------------------------------------------------------------------------------->
<h5><u>Paciente Ambulatorio.Protocolo de dias separados.</u></h5>



  


<table class="table col-md-8 " border="1" style="margin: 0 auto;" bgcolor="white">
  <thead>
    <tr>
      <th colspan="2" style="text-align: center">Indicación de Estudio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Diagnostico de Enfermedad Coronaria</th>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Evaluación de la extensión y gravedad de enfermedad coronaria</th>
      <td>X</td>
    </tr>
    <tr>
      <th scope="row">Evaluación de Viabilidad Miocárdica</th>
      
      <td></td>
    </tr>
      <tr>
      <th scope="row">Estratificación de riesgo post IAM, prequirúrgica, general</th>
      
      <td></td>
    </tr>
      <tr>
      <th scope="row">Valoración de dolor precordial agudo</th>
      
      <td></td>
    </tr>
  </tbody>
</table>


<h5><u>Historia Clínica</u></h5>
<h6>Paciente de 37 años, IMC = 24, con antecedentes de: HTA hace 1 año, DBT hace 2 años, Tabaquismo y otros
antecendetes como: Farmaco. Además, tuvo un IAM hace 3 años, con ATC, DA. En estudio por Evaluación
de la extensión y gravedad de enfermedad coronaria.</h6>

<h5><u>Metodología</u></h5>
<h6>Se realizó prueba de esfuerzo graduada bajo método escaleriforme continuo en cicloergómetro Enermax®, con volante
de inercia de 43cm (50Rpm), registro computarizado continuo y simultaneo de 12 derivaciones con sistema ERGO
View®. Al nivel de carga alcanzado, se inyectan entre 8 y 24 mCi de 99mTc-Sestamibi en forma endovenosa, de acuerdo
al protocolo utilizado. En un lapso entre 5 y 60 minutos más tarde se adquieren imágenes tomográficas SPECT de 180º
en Cámara Gamma Marconi Phillips®, Axis® doble cabezal de ángulo variable con procesador Philips Medical
Systems®, Odyssey-LX®. Se reconstruyen las imágenes tomográficas mediante FBP, con una matriz de 64x64 (17 steps)
con los detectores a un ángulo de 102°. Se sincroniza la señal del ECG (16 intervalos) en todo estudio que lo permita, la
función cardíaca se analiza con 4D-MSPECT®. Posteriormente para la fase de reposo se re-inyectan entre 8 y 24 mCi de
99mTc-Sestamibi y se realizan adquisiciones de reposo según protocolo.</h6>


<h5><u>Resultados</u></h5>
<table border="2"  class="table col-md-8 text-center" style="margin: 0 auto;" >
  
  <tr>
    <td colspan="4">Calidad técnica del estudio*</td>
    
  </tr>
  <tr>
    <td >Pobre</td>
    <td><u><i>Buena</i></u></td>
    <td>Muy Buena</td>
    <td>Excelente</td>
    
  </tr>
  <tr>
    <td colspan="4"><b>Decúbito Prono</b></td>
  </tr>
</table>
<h5><u>Tabla de Resultados</u></h5>

<table border="2"  class="table col-md-8 text-center" style="margin: 0 auto;" >
  
  <tr>
    <td colspan="2"><b>SPECT Gatillado</b></td>
    
  </tr>
  <tr>
    <td >Apremio</td>
    <td>Reposo</td>
  </tr>
   <tr>
    <td >Fey: 63 %, VFD: 150 ml, VFS: 82 ml.</td>
    <td>Fey: 54 %, VFD: 120 ml, VFS: 66 ml (30 ml/m2).</td>
  </tr>
   <tr>
    <td >MP: Mayor espacio para motilidad parietal
tal cual lo pidieron desde FCDN.</td>
    <td>MP: Mayor espacio para motilidad parietal tal cual
lo pidieron desde FCDN.</td>
  </tr>
  <tr>
    <td ><b>TID: 1,54</b></td>
    <td ><b>Dilatación Ventricular Transitoria</b></td>
  </tr>
</table>

<div class="row p-4">
  <img src="oie_transparent.png" alt="" style="width: 200px">
   <img src="LOGO IMAC COLOR.jpg" alt=""  style="width: 300px; height: 80px;" class="ml-auto">
</div>

<div class=" mt-md-2" style=" text-align: center;"> 
  <h2><span>Cardiología Nuclear</span></h2>
  <h3>Perfusion Miocardica bajo Apremio con Ejercicio</h3>
  <h3>Tomografia Computada por Emision de Foton Simple</h3>
</div>
<br>
<br>
<br>
<h5><u>Gráfico de Resultados</u></h5>
<div class="row p-4">
  
  <table border="2"  class="table col-md-4 text-center"  >
    
    <tr>
      <td colspan="2"><b>SCORE de Perfusión</b></td>
      
    </tr>
    <tr>
      <td >Apremio</td>
      <td>Reposo</td>
    </tr>
     <tr>
      <td >SSS: 8(11%).</td>
      <td>SSR: 4(5%).</td>
    </tr>
   
    <tr>
      
      <td colspan="2" ><b>SD: 4 (5%).
  (Isquemia Moderada)</b></td>
    </tr>
  </table>
  <div class="offset-2">
    <img src="2.jpg" alt="" width="200">
    <img src="1.jpg" alt="" width="200">
  </div>
</div>
<h6>SSS: Puntaje de suma de apremio, SSR: Puntaje de suma de reposo y SD: Diferencia entre estos. Fey: fracción de
eyección, VFD: Volumen de fin de diástole, VFS: Volumen de fin de sístole, MP: Motilidad parietal, TID: Dilatación
isquémica transitoria.</h6>

<h5><u>Interpretación</u></h5>



<div class="row p-4">
  
  <table border="2"  class="table col-md-4 text-center"  >
    
   
    <tr>
      <td >Estudio sin hallazgos patológicos</td>
      <td>X</td>
    </tr>
     <tr>
      <td >Estudio con hallazgos patológicos</td>
      <td></td>
    </tr>
   
    
  </table>
  
     <table border="2"  class="table col-md-4 text-center offset-1"  >
    
   
    <tr>
      <td >Actividad extra cardíaca</td>
      <td width="30">SI</td>
    </tr>
     <tr>
      <td >Captación Pulmonar</td>
      <td>NO</td>
    </tr>
    <tr>
      <td >Atenuación</td>
      <td>NO</td>
    </tr>
   
    
  </table>
  
</div>

<h6>
  <ul>
    
    <li>
      A los niveles de carga alcanzados (11/115 %Grad/Km/h, ITT: 28800, FCMP: 98 %), se evidenció:hipocaptación de radioactividad en 3 segmentos del total de 17 analizados.
    </li>
    <li>
      Se observó compromiso del VI en los segmentos: Apex, Septal Apical, Anterior Basal. 1) Con compromiso
necrótico no transmural (5%) en Territorio DA y en Territorio CD. 2) Con isquemia 5% (Riesgo Moderado),
en Territorio DA.

    </li>
    <li>
      La Fracción de Eyección presenta Deterioro Leve, además, se observa Dilatación Ventricular Transitoria.
    </li>
  </ul>


Nota: Estamos llegando al final
Actividad extra cardíaca
Guzzo Miguel Angel
Médico Cardiólogo Nuclear
MP: 81078ARN: 21257/0/2 /08-19.

</h6>



<div class="row p-4">
  <img src="oie_transparent.png" alt="" style="width: 200px">
   <img src="LOGO IMAC COLOR.jpg" alt=""  style="width: 300px; height: 80px;" class="ml-auto">
</div>

<div class=" mt-md-2" style=" text-align: center;"> 
  <h2><span>Cardiología Nuclear</span></h2>
  <h3>Perfusion Miocardica bajo Apremio con Ejercicio</h3>
  <h3>Tomografia Computada por Emision de Foton Simple</h3>
</div>


<table border="2"  class="table col-md-8 text-center" style="margin: 0 auto;" >
  
  <tr>
    <td colspan="2"><b>Información para el médico de Cabecera</b></td>
    
  </tr>

  </table>
  <ol>
    <li> Interpretación diagnóstica y valor pronóstico
El informe de nuestros estudios de cardiología nuclear está basado
en guías de interpretación actuales1, se utiliza un modelo de
segmentación miocárdica y nomenclatura estandarizado para la
adquisición tomográfica de imágenes del corazón2. Se divide al
ventrículo izquierdo en 17 segmentos (figura), luego se cuantifica el
monto de hipocaptación de radioactividad en cada segmento y se
procede a la sumatoria de los mismos de acuerdo al puntaje de suma
dA107e apremio y reposo (SSS y SSR respectivamente). Se calcula el
porcentaje de miocardio afectado para valoración pronóstica3.
Tanto los puntajes de extensión de enfermedad como los de
cuantificación de monto isquémico, necrótico o de dilatación
transitoria (TID) otorgan valor pronóstico5.</li>
<li>
  Calidad técnica
a. Los estudios de cardiología nuclear pueden verse afectados en su
rédito diagnóstico de acuerdo a variables como:
• Hábito y peso corporal del paciente.
• Carga alcanzada.
• Regularidad del ritmo cardíaco.
• Tipo de apremio seleccionado.
• Movimiento, en aquellas personas que posean dificultades para
permanecer estáticos durante al menos 15 minutos en decúbito
supino o prono, tos, afección osteomuscular entre otras
enfermedades.
</li>
<li>
 Pronóstico
El valor pronóstico se encuentra indicado por la
cantidad de segmentos comprometidos (figura) y
la gravedad en el defecto de perfusión, esto
último está representado por el SSS (gráfico).
El puntaje de SSS mayor a 8, un porcentaje de
miocardio comprometido superior a 15% y un
puntaje de isquemia (SD) superior a 8
representan elevada probabilidad de eventos.
El TID (dilatación isquémica transitoria) puede
ser valorado mediante un índice que se compone
del cociente entre el volumen del VI en el
apremio, sobre el de reposo, se analiza sobre
imágenes no gatilladas y habitualmente ronda
entre 1.2 a 1.3.1
</li>
  </ol>

<div style="page-break-after: always;"><span style="display: none;">&nbsp;</span></div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div style="width: 500px;margin: 0 auto;">
  <canvas id="myChart"></canvas>
</div>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['0 a 3', '4 a 8 ', '>8', ],
        datasets: [{
            label: 'Gráfico. IM: Infarto de Miocárdio, M:Mortalidad.',
            data: [12, 19, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'
                
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
 
<img src="17.png" alt="" id="sss1-img">



 <!-- ************************************************este es el script que imprime******************************************************************************** -->
   <script language="javascript">

$('#sss1-img').addClass("rosadoOscuro");

    function imprimir()
    {
    	$("#ocultar").hide();
     if (window.print) window.print()
     else alert("puede utilizar Crtl+p");
    }
   </script>
  
  <center id="ocultar">
   <p><input type="button"  class="btn btn-primary" name="imprimir" id="a" value="Generar PDF" onClick="javascript:imprimir();"></p>
  </center>
<!-- *********************************************************************************************************************************************** -->
</body>
</html>
