{% extends "core/base.html" %}
{%block title%} <title>Función Ventricular</title>{%endblock%}


{% block content %}


{% load static %} <!-- Override files  -->
 <!-- ******************************************************************INCLUYENDO ARCHIVOS ESTATICOS*********************************************************** -->
  <link rel="stylesheet" href="{% static 'fventricular/css/estilosVentricular.css' %}">
  <!-- <script src="{% static 'fventricular/js/funcionesVentricular.js' %}"></script> -->

 <script>   
var peso=0,talla=0,pesot="",tallat="";
$(document).ready(function(){


      
        $('table').on('mousedown', 'input', function(e){
    var id_seleccionado= $(this).attr('value');
    var talla_seleccionada= $(this).attr('id');
     var peso_seleccionado= $(this).attr('class');
      $("#id_pac_ventricular").val(id_seleccionado);
    // alert(id_seleccionado);
    //   alert("talla" +talla_seleccionada);
    //   alert(peso_seleccionado);
 pesot =peso_seleccionado;
 tallat=talla_seleccionada;


    /*  
    $("#id_pac_estudio").val(id_seleccionado);
    // alert(id_seleccionado); 
     // var año = edad_seleccionada.substr(9);
    var año = edad_seleccionada.slice(-5); // obtengo los ultimos cuatro valores de la cadena
     // alert(año);
    var añoInt= parseInt(año);
    // alert(2019 -añoInt);
    /*Obtengo año actual*
    var fecha = new Date();
    var añoActual = fecha.getFullYear();
    // alert('El año actual es: '+ano);
    var edadPac= añoActual-añoInt;
    // alert(edadPac);
     $("#edad").val(edadPac);


*/

});



      
});


	function calcularStress() {

if (pesot!="" && tallat!="") { // validacion para seleccion obligatoria del paciente
	peso=parseInt(pesot);
	talla=parseInt(tallat);
	
/******stress******/

volRelativo=$("#ivolumen_relativo").val();
vfdvi=$("#ivfdvi").val();
fvsvi=$("#ifvsvi").val();
vfdviM2=(vfdvi/Math.sqrt((peso*talla)/3600));
fvsviM2=(fvsvi/Math.sqrt((peso*talla)/3600));
fey=((vfdvi-fvsvi)/vfdvi)*100;
/*****rest*******/
volRelativoR=$("#ivolumen_relativo_r").val();
vfdvir=$("#ivfdvir").val();
fvsvir=$("#ifvsvir").val();
vfdvirM2=(vfdvir/Math.sqrt((peso*talla)/3600));
fvsvirM2=(fvsvir/Math.sqrt((peso*talla)/3600));
feyR=((vfdvir-fvsvir)/vfdvir)*100;
/******TID******/

tid=volRelativo/volRelativoR;


/*******Asignacion de resultados*****/

/******Stress****/
$("#ivfdvim2").val(Math.trunc(vfdviM2));
$("#ifvsvim2").val(Math.trunc(fvsviM2));
$("#ifey").val(Math.trunc(fey));

/****rest****/
$("#ivfdvirm2").val(Math.trunc(vfdvirM2));
$("#ifvsvirm2").val(Math.trunc(fvsvirM2));
$("#ifeyr").val(Math.trunc(feyR));

/*****Tid***/
$("#itid").val(tid);
}else{alert("debe selecionar paciente")}
}

    </script>






<hr>

<form class="form-inline"  method="GET">
  {% csrf_token %}
    <input type="text" class="verde" placeholder="Buscar paciente.." name="q" style="" >
      <button type="submit" class="azul"><i class="fa fa-search"></i></button>
  </form>
  <a class="btn btn-info" href="{% url 'listaventricular' %}" >Listado de funciones ventriculares</a>
<!-- ***************************************************************FORMULARIO ESTUDIO***************************************************************************** -->


<div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive-sm">
  <table class="table table-dark table-hover table-striped mb-0 " border="1" >
    <thead style="background-color: purple;">
      <tr>
      	<th>Id</th>
       <th>Paciente</th>
          <th>Fecha Estudio</th>
          <th>Talla</th>
          <th>Peso</th>
          <th>Edad</th>
 
		

          <th style="display: none;">Fecha de Nacimiento</th>
      </tr>
    </thead>
    <tbody>
      {% if eventos %}

    {% for k in eventos %}
  <tr>
      	  <th><input type="radio" value="{{k.pacientes.id_pac}}" name="d" id="{{k.talla}}" class="{{k.peso}}"></th>
          <td>{{k.pacientes}}</td>
		  <td>{{k.fechaAcutal}}</td>
          <td style="display: none;">{{k.id_estudio}}</td>
          <td>{{k.talla}}</td>
          <td>{{k.peso}}</td>
          <td>{{k.edad}}</td>
		  
    </tr>
    {% endfor %}
    {% else %}
    {% endif %}
	
    </tbody>
  </table>
</div>

<hr>

<form method="POST">
    {% csrf_token %}

<body class="mx-auto">
	<input type="text" class="form-control mt-md-2 col-md-9" id="id_pac_ventricular" name="paciente_fv" style="display: none;">

<br>

<div class="form-inline ">
	
	            
<fieldset class=" form-group form-inline col-md-6 ml-md-5 mt-md-2">    	
<legend>STRESS</legend>							
	<div class=" conteiner">		
				<div class="row ml-md-5">
					<div class="row col-md-4 mt-md-2 ml-md-2 " style="margin-left: 2px;">
					
							<label class=" control-label mr-md-5 ">Volumen Relativo: </label>
							<input type="text" class="form-control mt-md-2 col-md-9" id="ivolumen_relativo" onchange="calcularStress()" name="vol_relat_rest"  maxlength="3">
														
				</div>	
				<div class="row col-md-4 mt-md-2 " style="margin-left: 2px;">
					
							<label class=" control-label mr-md-5">VFDVI(ml): </label>
							<input type="text" class="form-control mt-md-2 col-md-9" id="ivfdvi" onchange="calcularStress()" name="vfdvi_rest" maxlength="3">
														
				</div>
			
					
				<div class="row col-md-4 mt-md-2" style="margin-left: 2px;">
					
							<label class=" control-label mr-md-5">FVSVI(ml): </label>
							<input type="text" class="form-control mt-md-2 col-md-9" id="ifvsvi" onchange="calcularStress()" name="fvsvi_rest" maxlength="3">
														
				</div>									
				</div>
			
					
				<div class="row col-md-4 mt-md-5 ml-md-5 ">
					
							<label class=" control-label col-md-8">VFDVI m<sup>2</sup>: </label>
							<input type="text" class="form-control col-md-4" id="ivfdvim2" readonly="" onchange="calcularStress()" name="vfdvi_m2_rest">
														
				</div>	
				<div class="row col-md-4 mt-md-2 ml-md-5" >
					
							<label class=" control-label col-md-8 ">FVSVI m<sup>2</sup>: </label>
							<input type="text" class="form-control col-md-4" id="ifvsvim2" readonly="" onchange="calcularStress()" name="fvsvi_m2_rest">
														
				</div>
			
					
				<div class="row col-md-4 mt-md-2 ml-md-5 mb-md-3" >
					
							<label class=" control-label col-md-8 ">Fey: %</label>
							<input type="text" class="form-control col-md-4" id="ifey" readonly="" onchange="calcularStress()" name="frac_eyeccion_rest">
														
				</div>
	</div>					
</fieldset>				
									
<fieldset class="form-group form-inline col-md-2 ml-md-5 mt-md-5 ">    	
	<div class="conteiner">
		<div class="row col-md-6 ml-md-5 mt-md-5 mb-md-5 ">
					
							<label class=" control-label col-md-1  ">TID: </label>
							<input type="text" class="form-control mt-md-2 col-md-12" id="itid" readonly="" onchange="calcularStress()" name="tid" maxlength="3">
														
				</div>
	</div>
</fieldset>	

<fieldset class="form-group form-inline col-md-6 ml-md-5 mt-md-3">    	
<legend>REST</legend>
	<div class=" conteiner">		
				<div class="row ml-md-5">
					<div class="row col-md-4 mt-md-2 ml-md-2" style="margin-left: 2px;">
					
							<label class=" control-label mr-md-5 ">Volumen Relativo R: </label>
							<input type="text" class="form-control mt-md-2 col-md-9" id="ivolumen_relativo_r" onchange="calcularStress()" name="vol_relat_stress" maxlength="3">
														
				</div>	
				<div class="row col-md-4 mt-md-2 " style="margin-left: 2px;" >
					
							<label class=" control-label mr-md-5">VFDVIR(ml): </label>
							<input type="text" class="form-control mt-md-2 col-md-9" id="ivfdvir" onchange="calcularStress()" name="vfdvi_stress" maxlength="3">
														
				</div>
			
					
				<div class="row col-md-4 mt-md-2" style="margin-left: 2px;">
					
							<label class=" control-label mr-md-5">FVSVIR(ml): </label>
							<input type="text" class="form-control mt-md-2 col-md-9" id="ifvsvir"onchange="calcularStress()" name="fvsvi_stress" maxlength="3">
														
				</div>									
				</div>
			
					
				<div class="row col-md-4 mt-md-5 ml-md-5">
					
							<label class=" control-label col-md-8">VFDVIR m<sup>2</sup>: </label>
							<input type="text" class="form-control col-md-4" id="ivfdvirm2" readonly="" onchange="calcularStress()" name="vfdvi_m2_stress">
														
				</div>	
				<div class="row col-md-4 mt-md-2 ml-md-5">
					
							<label class=" control-label col-md-8 ">FVSVIR m<sup>2</sup>: </label>
							<input type="text" class="form-control col-md-4" id="ifvsvirm2" readonly="" onchange="calcularStress()" name="fvsvi_m2_stress">
														
				</div>
			
					
				<div class="row col-md-4 mt-md-2 ml-md-5 mb-md-3">
					
							<label class=" control-label col-md-8 ">Fey R: %</label>
							<input type="text" class="form-control col-md-4"  readonly="" id="ifeyr" onchange="calcularStress()"name="frac_eyeccion_stress">
														
				</div>
	</div>			
</fieldset>	
	
<div class=" form-group form-inline col-md-6 mb-md-2 mt-md-3 ml-md-5 ">
						
		<button class="btn btn-danger mr-md-3 ml-auto" > Cancelar</button>
		
		<button  class="btn btn-success " > Guardar</button>
</div>	
				<!-- -----------ultimo div -->
</div>
	                
</form>	
</body>
{% endblock %}