{% extends "core/base.html" %}

{% block content %}
<style>
     
            label{
                color: white;
            }
</style>
 

<br><br>
<body>
<div class="container">
    
    <form  method="POST">
       {% csrf_token %}
      <div class="form-group col-md-5">
        <label for="email">Nombre:</label>
        {{form.nombre}}
      </div>
      <div class="form-group col-md-5">
        <label for="pwd">Apellido:</label>
          {{form.apellido}}
      </div>
      <div class="form-group col-md-3">
        <label for="email">Dni:</label>
        {{form.dni}}
      </div>
      <div class="form-group col-md-3">
        <label for="pwd">Nacionalidad:</label>
        {{form.nacionalidad}}
      </div>
      <div class="form-group col-md-7">
            <label for="comment">Domicilio:</label>
            {{form.domicilio}}
          </div> 
      <div class="form-group col-md-3">
        <label for="pwd">Numero de Domicilio:</label>
        {{form.numero_domicilio}}
      </div>
      <div class="form-group col-md-3">
        <label for="email">Cobertura Médica:</label>
        {{form.cobertura_medica}}
      </div>
      <div class="form-group col-md-2">
        <label for="pwd">Número de Afiliado:</label>
        {{form.numero_afilido}}
      </div>
      <div class="form-group col-md-3">
            <label for="sel1">Sexo:</label>
            {{form.sexo}}
          </div> 
      <div class="form-group col-md-3">
        <label for="pwd">Fecha de Nacimiento:</label>
        {{form.fecha_nacimiento}}
      </div>
      <div class="form-group col-md-2">
      <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      <br><br>
    </form>
    
  </div>
  
  
  </body> 
{% endblock content %}