{% extends "core/base.html" %}
{% load static %}
{% block content %}
<table class="table table-dark table-hover table-striped mb-0 " border="1" >
    <thead style="background-color: purple;">
      <tr>
          
          <th>Paciente</th>
          <th>Peso</th>
          <th>Talla</th>
          <th>Edad</th>
          <th>Calidad tecnica</th>
          <th>Editar</th>
          <th>Borrar</th>

      </tr>
    </thead>
  <h1><center>Estudios</center></h1>  
<form class="form-inline"  method="GET">
  {% csrf_token %}
    <input type="text" class="verde" placeholder="Buscar paciente.." name="q" style="" >
      <button type="submit" class="azul"><i class="fa fa-search"></i></button>
  </form>
   <tbody>
  {% for pac in eventos  %}
 <tr>
        
          <td>{{pac.pacientes}}</td>
          <td>{{pac.peso}}</td>
          <td>{{pac.talla}}</td>
          <td>{{pac.edad}}</td>
          <td>{{pac.calidadTecnica}}</td>
         <td><a class="btn btn-info" href="{% url 'editaestudio' pac.id_estudio %}" >Editar</a></td>
		<td><a   class='btn btn-danger eliminar' href="{% url 'borrarestudios' pac.id_estudio %}" >Borrar</a></td>
   </tr>
  
  {% endfor %}
     </tbody>
     </table>
{% endblock content %}