{% extends "core/base.html" %}
{% load static %}
{% block content %}
<form method="POST">
		    {% csrf_token %}
<div class="form-inline">	            
		            <fieldset class="form-group form-inline col-md-7 ml-md-3">    	
							<legend>FCRV</legend>							
					<div class="form-group form-inline ">
					{{form.paciente_antecedente}}
						<div class="col-md-3 form-inline ">
									      <div class="form-check mr-sm-4">
									        {{form.fcrv_hta}}
									        <label class="form-check-label"> HTA</label>
									      </div>
						 </div>
				
					<div class="col-md-4 form-inline">			    
						{{form.fecha_fcrv_hta}}
							  </div><br> <br><br>
				
		           </div> 
	
	<!-- ------------------ -->

		<div class="form-group form-inline ">
	
			<div class="col-md-3 form-inline ">
						      <div class="form-check mr-sm-4">
						        {{form.fcrv_dta}}
						        <label class="form-check-label" for="autoSizingCheck"> DTA</label>
						      </div>
						  </div>
			
							<div class="col-md-4 form-inline ">
								{{form.fecha_fcrv_dta}}		      						
				 			 </div>			  
		  
		</div> 
		
	<!-- --------------------- -->
		
		<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.anteced_fliar}}
				        <label class="form-check-label" for=""> ANTECEDENTES FLIARES</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.ex_tabaquismo}}
				        <label class="form-check-label" for=""> EX-TABAQUISMO</label>
				      </div>
				  </div>
				
	
		  
	</div> 
	<!-- --------------------------- -->
	
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.dislipemia}}
				        <label class="form-check-label" for="">DISLIPEMIA</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.sedentarismo}}
				        <label class="form-check-label" for=""> SEDENTARISMO</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	
	
	
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.estres}}
				        <label class="form-check-label" for="">ESTRÉS</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.chagas}}
				        <label class="form-check-label" for=""> CHAGAS</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.resincron}}
				        <label class="form-check-label" for="">RESINCRONIZACIÓN</label>
				      </div>
				  </div>
	
	
				
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.tabaquismo}}
				        <label class="form-check-label" for="">TABAQUISMOS</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.marcapasos}}
				        <label class="form-check-label" for=""> MARCAPASOS</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.cdi}}
				        <label class="form-check-label" for="">CDI</label>
				      </div>
				  </div>		  
	</div> 
	
		
						</fieldset>				
						
					     
		            <fieldset class="form-group form-inline col-md-4 ml-md-3 ">    	
							<legend>CRM</legend>
							
							
				<br> <br>
	
			<div class="form-group form-inline ">
					<div class="col-md-3 form-inline ">
								      <div class="form-check mr-sm-4">
								        <input class="form-check-input " type="checkbox" id="autoSizingCheck">
								        <label class="form-check-label" for="autoSizingCheck"> DTA</label>
								      </div>
								  </div>
		
						<div class="col-md-4 form-inline  ">
						{{form.fecha_crm_hta}}			      
					
					
								  </div>
		  
			</div> 
		
	
	
	
		<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.pm}}
				        <label class="form-check-label" for="">PM</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.pr}}
				        <label class="form-check-label" for=""> PR</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.pv}}
				        <label class="form-check-label" for="">PV</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.pm_da}}
				        <label class="form-check-label" for="">DA</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.pr_dg}}
				        <label class="form-check-label" for=""> DG</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.pv_da}}
				        <label class="form-check-label" for="">DA</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.pm_dg}}
				        <label class="form-check-label" for="">DG</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.pr_cx}}
				        <label class="form-check-label" for="">Cx</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{fomr.pv_dg}}
				        <label class="form-check-label" for="">DG</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.pm_cx}}
				        <label class="form-check-label" for="">Cx</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        <input class="form-check-input sr-only " type="checkbox" id="autoSizingCheck">
				        <label class="form-check-label" for="autoSizingCheck"></label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline  ">
				      <div class="form-check mr-sm-4">
				        {{form.pv_cx}}
				        <label class="form-check-label" for="">Cx</label>
				      </div>
				  </div>
			  
	</div> 
	
	<br><br>
	
							
						</fieldset>				
						
			<!-- --------------------------------------		 -->
	
	   <fieldset class="form-group form-inline col-md-7 ml-md-3">    	
							<legend>ANTECEDENTES</legend>
							
		
		<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.infarto}}
				        <label class="form-check-label" for="">INFARTO</label>
				      </div>
				  </div>
					
		<div class="col-md-4 form-inline ">
			{{form.fecha_infarto_reciente}}		      
				  </div>
		  
	</div> 
		
		<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				       {{form.atc1}}
				        <label class="form-check-label" for="">ATC</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc2}}
				        <label class="form-check-label" for=""> ATC</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc3}}
				        <label class="form-check-label" for="">ATC</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc1_da}}
				        <label class="form-check-label" for="">DA</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc2_da}}
				        <label class="form-check-label" for=""> DA</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc3_da}}
				        <label class="form-check-label" for="">DA</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc1_dg}}
				        <label class="form-check-label" for="">DG</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc2_dg}}
				        <label class="form-check-label" for="">DG</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc3_dg}}
				        <label class="form-check-label" for="">DG</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc1_cx}}
				        <label class="form-check-label" for="">Cx</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc2_cx}}
				        <label class="form-check-label" for="">Cx</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline  ">
				      <div class="form-check mr-sm-4">
				        {{form.atc3_cx}}
				        <label class="form-check-label" for="">Cx</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc1_cd}}
				        <label class="form-check-label" for="">CD</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc2_cd}}
				        <label class="form-check-label" for="">CD</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline  ">
				      <div class="form-check mr-sm-4">
				        {{form.atc3_cd}}
				        <label class="form-check-label" for="">CD</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc1_stent_bms}}
				        <label class="form-check-label" for="">Stent BMS</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc2_stent_bms}}
				        <label class="form-check-label" for="">Stent BMS</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline  ">
				      <div class="form-check mr-sm-4">
				        {{form.atc3_stent_bms}}
				        <label class="form-check-label" for="">Stent BMS</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<div class="form-group form-inline ">
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc1_stent_des}}
				        <label class="form-check-label" for="autoSizingCheck">Stent DES</label>
				      </div>
				  </div>
	
	
	
	<div class="col-md-3 form-inline ">
				      <div class="form-check mr-sm-4">
				        {{form.atc2_stent_des}}
				        <label class="form-check-label" for="autoSizingCheck">Stent DES</label>
				      </div>
				  </div>
	
	
				  <div class="col-md-3 form-inline  ">
				      <div class="form-check mr-sm-4">
				        {{form.atc3_stent_des}}
				        <label class="form-check-label" for="autoSizingCheck">Stent DES</label>
				      </div>
				  </div>
	
	
		  
	</div> 
	
	<br>
							
						</fieldset>				
					
	
	<!-- ---------------------------------------------------- -->
	
	<div class="p-0 col-md-4 ml-md-3" >
		
		 <fieldset class="form-group form-inline ">    	
								<legend>OTROS</legend>		       
								 <div class="form-group shadow-textarea">
						  
						 			 {{form.otros_antecedentes}}
									</div>								
							</fieldset>				
			
					<div class=" form-group form-inline my-md-2">	
							<!-- <button class="btn btn-danger mr-md-4 ml-auto" > Cancelar</button> -->
							<button  class="btn btn-success" > Guardar</button>
						</div>	
		</div>
	
	<!-- -----------ultimo div --------------->
</div>
		                </form>

</body>

{% endblock content %}